    *{
    border: 0px solid black;
    }
    html,body{
        max-width: 1600px;
        margin: 0 auto;
        font-family: 'Yantramanav', sans-serif;
        font-weight:200;
        background:#8fc93a;
        color: white;
        height: 100%;
    }
    a.link1 {
        color:rgb(255, 255, 255);
            -o-transition:color .2s ease-out, background .4s ease-in;
            -ms-transition:color .2s ease-out, background .4s ease-in;
            -moz-transition:color .2s ease-out, background .4s ease-in;
            -webkit-transition:color .2s ease-out, background .4s ease-in;
            transition:color .2s ease-out, background .4s ease-in;
        }
    a.link1:hover{
        color: #8fc93a;;
        background: #ffffff;
    }
    body{
        font-family: 'Yantramanav', sans-serif;
        padding: 3vh;   
    }
    input{
        background:#8fc93a;
        border: 1px solid white;
        color: white;
        width: 60%;
    }
    textarea{
        background:#8fc93a;
        border: 1px solid white;
        color: white;
        resize: none;
        width: 80%;
    }
    header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px; 
    }
    ul li{
        list-style:none;
        display: inline;
    }
    header{
        height:5rem;
    }
    section{
        margin-top: 30px;
    }
    li{
        padding-right: 30px;
    }
    #link-1{
        position: relative;
        top: 0;
        transition: top ease 0.5s;
    }
    #link-1:hover{
        top: 15px;
    }
    .left{
        width: 40%;
        text-align: justify;
        font-size: 20px;
    }
    .right{
        width: 40%;
        font-size: 20px;
    }
    .line{
        background-color: rgb(255, 255, 255);
        height: 1px;
        width: 90%;
        margin: 0 auto;
    }
    .logo{
        position: relative;
        left: 20px;
    }
    .menu{
        position: relative;
        right: 20px;
    }
    ul{
        position: relative;
        top: 10px;
    }
    .menu a{
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 200;
        }
    .title{
        font-size: 60px;
    }
    .body{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    button{
        background: #8fc93a;
        border: 2px solid white;
        color: white;
        cursor: pointer;
    }
    button:hover{
        color: #8fc93a;;
        background: #ffffff;
    }

/* --------------------MOBILE SCREENS START------------------ */
    @media only screen and (max-width: 650px) {
    header{
        display: flex;
        flex-direction: column;
        height: 10rem;
    }
    ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    li{
        position: relative;
        left: 0px;
        margin-bottom: 10px;
    }
    .logo{
        text-align:center;
        left: -10px;
    }
    .line{
        margin-top:50px;
    }
    .body{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}
/* ------------------MOBILE SCREENS END-----------------------*/
