 body{
        font-family: 'Open Sans', sans-serif;
        margin: 20px auto;
        height: 99vh;
        margin: 0 auto;
        box-sizing:border-box;
        max-width: 1800px;
    }
    header{
        height: 40vh;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo{
        box-sizing: border-box;
        font-family: 'Josefin Sans', sans-serif;
        text-align: left;
        color: rgb(255, 255, 255);
        background: rgb(0, 0, 0);
        font-size: 1.4em;
        margin: 0 auto;
        width: 120px;
        height: 150px;
        padding: 15px 20px;
        letter-spacing: 0px;
        font-weight: 800;
        word-break: break-all;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none; 
            -moz-user-select: none; 
            -ms-user-select: none; 
            user-select: none;
    }
    .subtitle{
        text-align: center;
        color: rgb(3, 116, 97);
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    section{
        height: 42vh;
        text-transform: uppercase;
        width: 70%;
        margin: 0 auto;
        font-weight: bold;
        color: rgb(43, 43, 43);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .links{
        height: 30vh;
        text-align: center;
        padding-top: 25vh;
    }
    .link{
        position: relative;
        z-index:1;
        padding:2px 6px;
        }

    .link:after {
        position: absolute;
        top:0; bottom: 0;
        right: 0;left: 0;
        display: block;
        background-color: rgb(3, 116, 97);
        content: "";
        transform: translate3d(0,100%,0);
        z-index:-1;
        }

    .link:hover:after {
        transform: translate3d(0,0,0);
        transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
        }

    .link:hover{
        color: #ffffff;
        }
    a{
        color: rgb(150, 149, 149);
        text-decoration: none;
        font-weight: lighter;
        display:inline-block;
        position: relative;
        overflow: hidden;
        padding:0 6px;
        text-transform: uppercase;
        transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
        font-size: 0.875rem;
        letter-spacing: .15rem;
        line-height: 1.8;
        }
