body,
html {
    width: 100%;
    margin: 0;
    background:#222222;
    transition: background 2s ease;
}

p {
  margin: 0;
}

.white-menu {
  background-image: url('/background-menu.jpg')!important;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.94)!important;
}

.black-text {
  color: #222222!important;
}

.white {
  background: white;
}

.black {
  color: black;
  transition: 3s ease;
}

.black-bc {
  background: black!important;
  transition: 4s ease;
}

.black-bc-2 {
  background: rgb(124, 124, 124)!important;
  transition: 4s ease;
}

.black-bc-3 {
  background: rgb(190, 190, 190)!important;
  transition: 4s ease;
}

header {
    width:100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    transition: 2s;
    z-index: 1;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin: 0 auto;
    font-size: 9px;
}

.container a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.4s;
  font-family: 'Questrial', sans-serif;
}

.container a:hover {
  padding-left: 10px;
  transition: 0.4s;
}

/*burger-menu*/
.b-menu {
  width:40px;
  height:40px;
  transition:1s;
  cursor: pointer;
}

.b-menu:hover{
  cursor:pointer;
  transform:scale(1.1,1.1);
  transition:1s;
}

.one,
.two,
.three{
  width:100%;
  height:2px;
}

.two,
.three {
margin-top: 15px;
}

.one,
.two,
.three {
transition:0.2s;  
}

.one {
  background: rgba(255, 255, 255, 0.918);
}

.two {
  background: rgba(255, 255, 255, 0.568);
}

.three {
  background: rgba(255, 255, 255, 0.322);
}

.hidden {
  opacity: 0;
  transition:0.3s;
  background:#ffffff;
}

.cross {
  transform: rotate(45deg) translate(16px,7px);
  background:#ffffff;
}

.crosstwo {
  transform: rotate(-45deg) translate(5px,4px);
  background:#ffffff;
}

main {
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: 'Questrial', sans-serif;
}

main p:first-child {
  font-size: calc(18px + 8vw);
  text-align: right;
  padding: 4vh 4vw;
  color: white;
  margin: 0;
}

main p:nth-of-type(2) {
  font-size: calc(16px + 2.5vw);
  margin: 0;
  text-align: right;
  width: 100%;
  margin-right: 10vw;
  color: #e78b00;
  font-family: 'Prata', serif;
}

#main-menu {
  width:100%;
  height:100%;
  background: url('/background-menu.jpg');
  box-shadow: inset 0 0 0 1000px rgba(34, 34, 34, 0.98);
  background-size: 100%;
  position: fixed;
  top:-100%;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  z-index: 1;
  background-attachment: fixed;
}

.menu-main-show {
  top:0!important;
  opacity: 1;
  transition: 1s;
}

#icons {
  margin: 0 auto;
  width:70%;
  display: flex;
  justify-content: space-between;
  color: inherit;
}

.icons-hidden {
  transition: 0.4s;
  animation: test 0.4s forwards;
}

@keyframes test {
    0% {
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.icons-show {
  opacity:1;
  animation: test2 1s forwards;
}

@keyframes test2 {
    0% {
        opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.show {
  display: flex;
  justify-content: space-between;
}

#footer-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  pointer-events: none;
  color: white;
  font-family: 'Questrial', sans-serif;
  font-weight: lighter;
}

.footer-menu-show {
  opacity:1!important;
  text-align: center;
  width: 100%;
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

#icons a {
  color: inherit;
  font-family: 'Prata', serif;
  font-size: calc(18px + 0.4vw);
  text-decoration: none;
  transition: 1s;
  position: relative;
  }

#icons a:after {
  opacity: 0;
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

#icons a:hover::after {
  opacity: 1;
  transition: 0.5;
}

#icons a:nth-child(1):hover {
color: #7ac8e2;
}

#icons a:nth-child(2):hover {
color: #80f085;
}

#icons a:nth-child(3):hover {
color: #ffaa3b;
}

#icons a:nth-child(4):hover {
color: lightpink;
}

#icons a:nth-child(5):hover {
color: #ffe572;
}

#icons a:nth-child(1):hover::after {
  background:#7ac8e2;
}

#icons a:nth-child(2):hover::after {
  background: #80f085;
}

#icons a:nth-child(3):hover::after {
  background: #ffaa3b;
}

#icons a:nth-child(4):hover::after {
  background: lightpink;
}

#icons a:nth-child(5):hover::after {
  background: #ffe572;
}

.first-section {
    font-size: calc(14px + 1vw);  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Prata', serif;
    color: #222222;
    position: relative;
    margin: 15px;
}

.first-section div:nth-child(1),
.first-section div:nth-child(3) {
  margin: calc(100px + 1vw) 0;
}


.first-section div:nth-child(1) {
    align-self: flex-start;
    width: 50%;
}

.fa-css3-alt {
    color: #0000ff;
}

.fa-html5 {
    color: #ff7b00;
}

.fa-js {
    color: #f7df1e;
}

.fa-php {
    color: #0000c2;
}

.fa-bootstrap {
  color: #500092;
}

.fa-vuejs {
  color:#29b97d;
}

.fa-wordpress {
  color: rgb(33, 117, 155);
}

.first-section div:nth-child(2) {
    width: 70vw;
    text-align: center;
    margin: 10vw;
}

.first-section div:nth-child(2) p:nth-child(2) {
    display:grid;
    font-size: calc(14px + 3vw); 
    grid-template-columns: auto auto auto;
    grid-gap: 5vw;
    margin: 5vw 0;

}

.first-section div:nth-child(2) p:nth-child(2) img {
  width: calc(14px + 3vw); 
  height: auto;
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .first-section div:nth-child(2) p:nth-child(2) {
    flex-direction: column;
    text-align: center;
    font-size: 8vw;
  }

  .first-section div:nth-child(2) p:nth-child(2) { 
    grid-template-columns: auto auto;
    grid-gap: 15vw;
    margin: 10vw 0;
    font-size: 50px;
}

.first-section div:nth-child(2) p:nth-child(2) img {
  width: 50px;
}

  .fab {
    margin: 2vw;
  }
  .first-section div:nth-child(2) p:nth-child(2) img {
    margin: 0 auto;
  }

}

.first-section div:nth-child(3) {
    align-self: flex-end;
    font-size: calc(12px + 0.4vw);
    padding-right: 10px;
}

.first-section a {
  color: rgb(255, 93, 93);
  text-decoration: none;
}

@media only screen and (max-width: 658px) {
  #icons {
    flex-direction: column;
    text-align: center;
    width: 100px;
  }

  #icons a {
    margin: 2vh 0;
  }
}

.second-section,
.third-section,
.fourth-section {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 2s;
}

.second-section-title,
.third-section-title,
.fourth-section-title {
  color: mediumseagreen;
  font-family: 'Questrial', sans-serif;
  font-size: calc(12px + 2vw);
  position: absolute;
  transform-origin:top;
  right: calc(12px + 2vw);
  text-align:center;
  top : 60%;
  transform : translateY(-83%) rotate(-90deg);
}

.fourth-section-title {
  padding-left: 5%;
  padding-right: 3%;
}

@media only screen and (max-width:900px) {
  .second-section-title,
  .third-section-title,
  .fourth-section-title {
    position:static;
    transform: none;
  }

  .second-section,
  .third-section,
  .fourth-section {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:80vh;
  }
}

#selector,
#selectorTwo,
#selectorThree {
  transition: 0.4s;
  width: 90vw;
  margin: 0 auto;
}

.pop {
  border: 1px solid #3e3e3e ;
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
            animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-4-13 5:26:2
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}


@media only screen and (min-width: 900px) {
        #selector,
        #selectorTwo,
        #selectorThree {
          width: 60vw;
        }
}

#selector:hover,
#selectorTwo:hover,
#selectorThree:hover {
  cursor: pointer;
  animation:none;
  transition: 1s;
  }

.background:hover {
  opacity: 0.1;
  cursor: pointer;
  transition: 0.5s;
}

.black-text {
  color: #222222;
}

.fifth-section {
  height: 100vh;
  width:100%;
}

footer {
  color: #222222;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  flex-direction: column;
  background-image: url('background-menu.jpg');
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.94);
  position: relative;
}

footer a {
  text-decoration: none;
  color: #222222;
}

footer p {
  padding: 10px;
}

footer p:nth-child(1) {
  font-size: calc(14px + 1.5vw);
  font-family: 'Questrial', sans-serif;
}

footer p:nth-child(2) {
  font-size: calc(14px + 0.3vw);
  width: 50%;
  text-align: center;
  font-weight: bold;
}

footer p:nth-child(5) {
  font-size: calc(14px + 2.3vw);
  text-align: center;
  word-spacing: 50px;
  padding:0;
}

footer p:nth-child(6) {
  position: absolute;
  left:0;
  bottom: 0;
  font-size: 12px;
  font-weight: bold;
}

footer p:nth-child(7) {
  position: absolute;
  right:0;
  bottom: 0;
  font-size: 12px;
  font-weight: bold;
}

/*div following pointer*/

#tail_one,
#tail_two,
#tail_three {
  position: fixed;
  display: none;
  background: rgb(255, 255, 255);
  padding: 5px 10px;
  font-family: 'Questrial', sans-serif;
  background: mediumseagreen;
  color:white;
  box-shadow: 2px 2px 1px rgb(8, 8, 8);
  z-index: 3;
  width: 200px;
}

.something {
  width: 200px;
  height: 160px;
  background: yellow;
}
