    *{
    border: 0px solid black;
    }
    html,body{
        max-width: 1600px;
        margin: 0 auto;
        font-family: 'Yantramanav', sans-serif;
        font-weight:200;
        background:#00a5a8;
        color: white;
        height: 100%;
    }
    #link-1{
        position: relative;
        top: 0;
        transition: top ease 0.5s;
    }
    #link-1:hover{
        top: 15px;
    }
    body{
        font-family: 'Yantramanav', sans-serif;
        padding: 3vh;   
    }
    .body p{
        font-size: 20px;
        font-weight: 200;
    }
    header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    a.link1 {
        color:rgb(255, 255, 255);
            -o-transition:color .2s ease-out, background .4s ease-in;
            -ms-transition:color .2s ease-out, background .4s ease-in;
            -moz-transition:color .2s ease-out, background .4s ease-in;
            -webkit-transition:color .2s ease-out, background .4s ease-in;
            transition:color .2s ease-out, background .4s ease-in;
        }
    a.link1:hover{
        color: #00a5a8;
        background: #ffffff; 
    }
    ul li{
        list-style:none;
        display: inline;
    }
    header{
        height:5rem;
    }
    section{
        margin: 30px;
        height: 65vh;
    }
    li{
        padding-right: 30px;
    }
    .link-p{
        text-decoration: none;
    }
    .line{
        background-color: rgb(255, 255, 255);
        height: 1px;
        width: 90%;
        margin: 0 auto;
    }
    .logo{
        position: relative;
        left: 20px;
    }
    .menu{
        position: relative;
        right: 20px;
    }
    ul{
        position: relative;
        top: 10px;
    }
    .menu a{
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 200;
        }
    .title{
        font-size: 60px;
    }
    footer{
        position: relative;
        text-align: center;
        bottom: 0;
        height: 10px;
        margin-top: 25vh;
    }
    .body{
        text-align:justify;
    }

/* --------------------MOBILE SCREENS START------------------ */
    @media only screen and (max-width: 550px) {
    header{
        display: flex;
        flex-direction: column;
        height: 10rem;
    }
    ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    li{
        position: relative;
        left: 0px;
        margin-bottom: 10px;
    }
    .logo{
        text-align:center;
        left: -10px;
    }
    .line{
        margin-top:50px;
    }
}
/* ------------------MOBILE SCREENS END-----------------------*/
